.version.index /* version checker */
{
	color: #0000E1;
	background-color: #FE322D;
}

.html
{
	background: #FFFFFF url("../images/lev_bg.jpg") repeat center top fixed;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4410.999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#pu76
{
	width: 0.01px;
	margin-left: -100px;
}

#u76
{
	z-index: 2;
	height: 62px;
	background-color: #383838;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u76-bw
{
	z-index: 2;
	height: 62px;
}

#u80-6
{
	z-index: 3;
	width: 289px;
	min-height: 51px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 100px;
}

#u519-4
{
	z-index: 9;
	width: 289px;
	min-height: 30px;
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 771px;
}

#u82-4
{
	z-index: 13;
	width: 239px;
	min-height: 42px;
	background-color: transparent;
	line-height: 32px;
	color: #FFFFFF;
	font-size: 27px;
	text-align: right;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 821px;
}

#u583
{
	z-index: 471;
	width: 36px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 801px;
}

#u89-7
{
	z-index: 19;
	width: 961px;
	min-height: 85px;
	background-color: transparent;
	text-transform: uppercase;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	left: -1px;
	margin-top: 18px;
	position: relative;
}

#u89-2
{
	font-size: 30px;
	line-height: 36px;
}

#u89-5
{
	font-size: 26px;
	line-height: 31px;
}

#pu83
{
	width: 0.01px;
	margin-top: 1px;
}

#u83
{
	z-index: 17;
	width: 467px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u83_img
{
	padding-right: 5px;
}

#u91-31
{
	z-index: 26;
	width: 390px;
	min-height: 240px;
	background-color: transparent;
	line-height: 30px;
	font-size: 19px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 570px;
}

#u95
{
	z-index: 31;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u97
{
	z-index: 32;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u96
{
	z-index: 33;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u99
{
	z-index: 39;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u101
{
	z-index: 40;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u100
{
	z-index: 41;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u103
{
	z-index: 47;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u105
{
	z-index: 48;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u104
{
	z-index: 49;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u107
{
	z-index: 55;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u109
{
	z-index: 56;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u108
{
	z-index: 57;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u111
{
	z-index: 63;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u113
{
	z-index: 64;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u112
{
	z-index: 65;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u115
{
	z-index: 71;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u117
{
	z-index: 72;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u116
{
	z-index: 73;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u119
{
	z-index: 80;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u121
{
	z-index: 81;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u120
{
	z-index: 82;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u123-4
{
	z-index: 85;
	width: 247px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	color: #C1272D;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 350px;
	left: 187px;
}

#u156-6
{
	z-index: 89;
	width: 365px;
	min-height: 32px;
	background-color: transparent;
	line-height: 24px;
	color: #C1272D;
	font-size: 20px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 404px;
	left: 128px;
}

#u124
{
	z-index: 95;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 825px;
}

#u153-4
{
	z-index: 97;
	width: 132px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	color: #C1272D;
	font-size: 16px;
	text-align: right;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 439px;
	left: 809px;
}

#u154
{
	z-index: 101;
	width: 283px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 379px;
	left: 169px;
}

#u177
{
	z-index: 108;
	width: 114px;
	background-color: #FF4C4C;
	background-color: rgba(255,0,0,0.7);
	border-radius: 100px;
	padding-bottom: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	-pie-background: rgba(255,0,0,0.7);
}

#u178-4
{
	z-index: 109;
	width: 107px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 1px;
}

#u179-4
{
	z-index: 113;
	width: 107px;
	min-height: 32px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
	left: 2px;
}

#u180-4
{
	z-index: 117;
	width: 107px;
	min-height: 32px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 1px;
}

#u181
{
	z-index: 121;
	width: 99px;
	height: 1px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 304px;
	left: 6px;
}

#u569
{
	z-index: 422;
	width: 246px;
	height: 218px;
	border-width: 2px;
	border-style: solid;
	border-color: #5B5D62;
	background-color: #D7DDE2;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 556px;
}

#widgetu130
{
	z-index: 423;
	width: 0.01px;
	height: 223px;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 570px;
}

#widgetu137
{
	z-index: 424;
	width: 221px;
	height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u139-4
{
	z-index: 425;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #000000;
	font-size: 16px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u138-4
{
	z-index: 429;
	width: 205px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #22B573;
	background-color: #F2F2F2;
	line-height: 30px;
	color: #000000;
	font-size: 16px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	padding: 6px 6px 6px 8px;
}

#widgetu137.non-empty-st #u138-4
{
	background-color: #FFFFFF;
}

#widgetu137.focus-st #u138-4
{
	-pie-box-shadow: 0px 0px 8px 2px #90DAB9;
	box-shadow: 0px 0px 8px rgba(34,181,115,0.5),0px 0px 8px rgba(34,181,115,0.5);
	border-color: #22B573;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 32px;
	width: 205px;
	margin: 20px -10000px 0px 0px;
}

#u142-4
{
	z-index: 433;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 9px;
}

#u136-4
{
	z-index: 437;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 9px;
}

#u141-4
{
	z-index: 441;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 9px;
}

#u135-17
{
	z-index: 445;
	min-height: 47px;
	width: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
}

#widgetu149
{
	z-index: 462;
	width: 221px;
	height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: -1px;
}

#u150-4
{
	z-index: 463;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #000000;
	font-size: 16px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u152-4
{
	z-index: 467;
	width: 205px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #22B573;
	background-color: #F2F2F2;
	line-height: 30px;
	color: #000000;
	font-size: 16px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	padding: 6px 6px 6px 8px;
}

#widgetu149.non-empty-st #u152-4
{
	background-color: #FFFFFF;
}

#widgetu149.focus-st #u152-4
{
	-pie-box-shadow: 0px 0px 8px 2px #90DAB9;
	box-shadow: 0px 0px 8px rgba(34,181,115,0.5),0px 0px 8px rgba(34,181,115,0.5);
	border-color: #22B573;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 32px;
	width: 205px;
	margin: 20px -10000px 0px 0px;
}

#widgetu137.fld-err-st #u138-4,#widgetu149.fld-err-st #u152-4
{
	-pie-box-shadow: none;
	box-shadow: none;
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 32px;
	width: 205px;
	margin: 20px -10000px 0px 0px;
}

#u308-54
{
	z-index: 255;
	width: 788px;
	min-height: 398px;
	background-color: transparent;
	color: #1C1C1C;
	font-family: pt-sans, sans-serif;
	margin-left: 86px;
	margin-top: 28px;
	position: relative;
}

#u316
{
	z-index: 263;
	width: 17px;
	background-color: transparent;
}

#u310
{
	z-index: 270;
	width: 17px;
	background-color: transparent;
}

#u319
{
	z-index: 277;
	width: 17px;
	background-color: transparent;
}

#u331
{
	z-index: 284;
	width: 17px;
	background-color: transparent;
}

#u337
{
	z-index: 291;
	width: 17px;
	background-color: transparent;
}

#u334
{
	z-index: 298;
	width: 17px;
	background-color: transparent;
}

#u328
{
	z-index: 305;
	width: 17px;
	background-color: transparent;
}

#u668
{
	z-index: 312;
	width: 17px;
	background-color: transparent;
}

#u664
{
	z-index: 318;
	width: 17px;
	background-color: transparent;
}

#u322
{
	z-index: 324;
	width: 17px;
	background-color: transparent;
}

#u313
{
	z-index: 331;
	width: 17px;
	background-color: transparent;
}

#u325
{
	z-index: 338;
	width: 17px;
	background-color: transparent;
}

#u672
{
	z-index: 345;
	width: 17px;
	background-color: transparent;
}

#u589-4
{
	z-index: 348;
	width: 788px;
	min-height: 45px;
	background-color: transparent;
	line-height: 36px;
	color: #1C1C1C;
	font-size: 30px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-left: 86px;
	margin-top: 46px;
	position: relative;
}

#pu358
{
	width: 0.01px;
	margin-left: 141px;
	margin-top: 28px;
}

#u358
{
	z-index: 352;
	width: 149px;
	height: 149px;
	border-radius: 150px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/2121212.gif") no-repeat center center;
	background-size: contain;
}

#u364
{
	z-index: 353;
	width: 149px;
	height: 149px;
	border-radius: 150px;
	position: relative;
	margin-right: -10000px;
	left: 263px;
	background: transparent url("../images/wewew.gif") no-repeat center center;
	background-size: contain;
}

#u365
{
	z-index: 354;
	width: 149px;
	height: 149px;
	border-radius: 150px;
	position: relative;
	margin-right: -10000px;
	left: 526px;
	background: transparent url("../images/lllllll.gif") no-repeat center center;
	background-size: contain;
}

#pu376-4
{
	width: 0.01px;
	margin-left: 104px;
	margin-top: 23px;
}

#u376-4
{
	z-index: 355;
	width: 214px;
	min-height: 33px;
	background-color: transparent;
	line-height: 20px;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u378-5
{
	z-index: 359;
	width: 214px;
	min-height: 48px;
	background-color: transparent;
	line-height: 20px;
	font-size: 20px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u379-6
{
	z-index: 379;
	width: 308px;
	min-height: 55px;
	background-color: transparent;
	line-height: 20px;
	font-size: 20px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 484px;
}

#u378,#u379-2
{
	text-transform: uppercase;
	font-weight: 700;
}

#u379-4
{
	font-weight: 400;
}

#pu630
{
	width: 0.01px;
	margin-left: 136px;
	margin-top: 31px;
}

#u630
{
	z-index: 473;
	width: 151px;
	background-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u636
{
	z-index: 475;
	width: 151px;
	background-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u642
{
	z-index: 477;
	width: 151px;
	background-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 537px;
}

#u630 .clip_frame,#u636 .clip_frame,#u642 .clip_frame
{
	-webkit-border-radius: 100px 100px 100px 100px;
}

#pu649-5
{
	width: 0.01px;
	margin-left: 113px;
	margin-top: 22px;
}

#u649-5
{
	z-index: 364;
	width: 214px;
	min-height: 48px;
	background-color: transparent;
	line-height: 18px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u652-4
{
	z-index: 369;
	width: 214px;
	min-height: 48px;
	background-color: transparent;
	line-height: 18px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u653-6
{
	z-index: 373;
	width: 248px;
	min-height: 48px;
	background-color: transparent;
	line-height: 18px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 511px;
}

#u654
{
	z-index: 479;
	width: 725px;
	border-width: 4px;
	border-style: solid;
	border-color: #29B386;
	background-color: transparent;
	padding-bottom: 5px;
	margin-left: 113px;
	margin-top: 45px;
	position: relative;
}

#u655-6
{
	z-index: 481;
	width: 649px;
	min-height: 97px;
	background-color: transparent;
	line-height: 27px;
	font-size: 19px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 38px;
}

#pu657
{
	width: 0.01px;
	padding-bottom: 21px;
	margin-left: 113px;
	margin-top: 7px;
}

#u657
{
	z-index: 480;
	width: 652px;
	border-width: 4px;
	border-style: solid;
	border-color: #29B386;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u659-10
{
	z-index: 487;
	width: 618px;
	min-height: 138px;
	background-color: transparent;
	line-height: 22px;
	font-size: 17px;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 20px;
}

#u655-2,#u659-2,#u659-4,#u659-6
{
	font-weight: bold;
}

#u660
{
	z-index: 497;
	width: 38px;
	height: 164px;
	background-color: #29B386;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 695px;
}

#u661
{
	z-index: 498;
	width: 19px;
	height: 19px;
	background-color: #29B386;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 686px;
}

#u662-4
{
	z-index: 499;
	width: 214px;
	min-height: 25px;
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: -1px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,-1,1,0,95,120);
	-ms-transform: matrix(0,-1,1,0,95,120);
	transform: matrix(0,-1,1,0,95,120);
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 611px;
}

#u380-20
{
	z-index: 385;
	width: 788px;
	min-height: 200px;
	background-color: transparent;
	color: #1C1C1C;
	font-family: pt-sans, sans-serif;
	margin-left: 86px;
	margin-top: 29px;
	position: relative;
}

#u308-2,#u380-2
{
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

#u308-3,#u380-3
{
	font-size: 22px;
	line-height: 26px;
	font-weight: 700;
}

#u400
{
	z-index: 393;
	width: 17px;
	background-color: transparent;
}

#u397
{
	z-index: 399;
	width: 17px;
	background-color: transparent;
}

#u403
{
	z-index: 405;
	width: 17px;
	background-color: transparent;
}

#u391
{
	z-index: 411;
	width: 17px;
	background-color: transparent;
}

#u308-7,#u308-11,#u308-15,#u308-19,#u308-23,#u308-27,#u308-31,#u308-34,#u308-37,#u308-41,#u308-45,#u308-49,#u308-52,#u380-6,#u380-9,#u380-12,#u380-15,#u380-18
{
	font-size: 19px;
	line-height: 25px;
	font-weight: 400;
}

#u315,#u309,#u318,#u330,#u336,#u333,#u327,#u671,#u667,#u321,#u312,#u324,#u675,#u399,#u396,#u402,#u390,#u708
{
	float: left;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 4px;
}

#u705
{
	z-index: 417;
	width: 17px;
	background-color: transparent;
}

#u163-4
{
	z-index: 102;
	width: 473px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-left: 243px;
	margin-top: 38px;
	position: relative;
}

#pu189-10
{
	width: 0.01px;
	margin-left: 188px;
	margin-top: 17px;
}

#u189-10
{
	z-index: 122;
	width: 365px;
	min-height: 108px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u171
{
	z-index: 106;
	width: 228px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 395px;
}

#u171_img
{
	margin-right: -1px;
}

#pu190-10
{
	width: 0.01px;
	margin-left: 188px;
	margin-top: 10px;
}

#u190-10
{
	z-index: 132;
	width: 365px;
	min-height: 108px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u89-3,#u189-2,#u189-4,#u189-6,#u190-2,#u190-4,#u190-6
{
	color: #C1272D;
}

#u511
{
	z-index: 420;
	width: 216px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 395px;
}

#u195
{
	z-index: 142;
	width: 874px;
	background-color: transparent;
	margin-left: 43px;
	margin-top: 45px;
	position: relative;
}

#u201
{
	z-index: 144;
	width: 908px;
	background-color: transparent;
	margin-left: 26px;
	position: relative;
}

#u242-11
{
	z-index: 148;
	width: 959px;
	min-height: 85px;
	background-color: transparent;
	text-transform: uppercase;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-left: 2px;
	margin-top: 40px;
	position: relative;
}

#u242-2
{
	font-size: 33px;
	line-height: 40px;
}

#u242-9
{
	font-size: 24px;
	line-height: 29px;
}

#u242-5
{
	text-transform: none;
	color: #FF0000;
}

#u242-4,#u242-7
{
	color: #FF0000;
}

#pppu240
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: 15px;
}

#ppu240
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#page_position_content,#pu240
{
	width: 0.01px;
}

#u240
{
	z-index: 146;
	width: 439px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 112px;
}

#u240_clip
{
	overflow: hidden;
	width: 439px;
	height: 321px;
}

#u240_img
{
	margin-right: -2px;
}

#u296
{
	z-index: 224;
	width: 114px;
	background-color: #FF4C4C;
	background-color: rgba(255,0,0,0.7);
	border-radius: 100px;
	padding-bottom: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	-pie-background: rgba(255,0,0,0.7);
}

#u297-4
{
	z-index: 225;
	width: 107px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 4px;
}

#u298-4
{
	z-index: 229;
	width: 107px;
	min-height: 32px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 5px;
}

#u299-4
{
	z-index: 233;
	width: 107px;
	min-height: 32px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 4px;
}

#u300
{
	z-index: 237;
	width: 99px;
	height: 1px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
	left: 9px;
}

#u272-4
{
	z-index: 159;
	width: 247px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	color: #C1272D;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-left: 190px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u294
{
	z-index: 223;
	width: 283px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-left: 172px;
	margin-top: 4px;
	position: relative;
}

#u273-6
{
	z-index: 163;
	width: 365px;
	min-height: 32px;
	background-color: transparent;
	line-height: 24px;
	color: #C1272D;
	font-size: 20px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-left: 131px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u156,#u156-3,#u189,#u189-3,#u189-8,#u190,#u190-3,#u190-8,#u273,#u273-3
{
	color: #000000;
}

#u274
{
	z-index: 169;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 808px;
}

#widgetu276
{
	z-index: 171;
	width: 0.01px;
	height: 223px;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 573px;
}

#widgetu281
{
	z-index: 172;
	width: 221px;
	height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu137.fld-err-st,#widgetu281.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 221px;
	height: 66px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u284-4
{
	z-index: 173;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #000000;
	font-size: 16px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u283-4
{
	z-index: 177;
	width: 205px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #22B573;
	background-color: #F2F2F2;
	line-height: 30px;
	color: #000000;
	font-size: 16px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	padding: 6px 6px 6px 8px;
}

#widgetu281.focus-st #u283-4
{
	-pie-box-shadow: 0px 0px 8px 2px #90DAB9;
	box-shadow: 0px 0px 8px rgba(34,181,115,0.5),0px 0px 8px rgba(34,181,115,0.5);
	border-color: #22B573;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 32px;
	width: 205px;
	margin: 20px -10000px 0px 0px;
}

#u286-4
{
	z-index: 181;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 9px;
}

#u292-4
{
	z-index: 185;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 9px;
}

#u291-4
{
	z-index: 189;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 9px;
}

#u285-17
{
	z-index: 193;
	min-height: 47px;
	width: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
}


#widgetu277
{
	z-index: 210;
	width: 221px;
	height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: -1px;
}

#widgetu149.fld-err-st,#widgetu277.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 221px;
	height: 66px;
	min-height: 0px;
	margin: 76px -10000px 0px 0px;
}

#u280-4
{
	z-index: 211;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #000000;
	font-size: 16px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu137.fld-err-st #u139-4,#widgetu149.fld-err-st #u150-4,#widgetu281.fld-err-st #u284-4,#widgetu277.fld-err-st #u280-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu137.fld-err-st #u139-4 p,#widgetu137.fld-err-st #u139-4 span,#widgetu149.fld-err-st #u150-4 p,#widgetu149.fld-err-st #u150-4 span,#widgetu281.fld-err-st #u284-4 p,#widgetu281.fld-err-st #u284-4 span,#widgetu277.fld-err-st #u280-4 p,#widgetu277.fld-err-st #u280-4 span
{
	color: #D7244C;
}

#u279-4
{
	z-index: 215;
	width: 205px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #22B573;
	background-color: #F2F2F2;
	line-height: 30px;
	color: #000000;
	font-size: 16px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	padding: 6px 6px 6px 8px;
}

#widgetu277.focus-st #u279-4
{
	-pie-box-shadow: 0px 0px 8px 2px #90DAB9;
	box-shadow: 0px 0px 8px rgba(34,181,115,0.5),0px 0px 8px rgba(34,181,115,0.5);
	border-color: #22B573;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 32px;
	width: 205px;
	margin: 20px -10000px 0px 0px;
}

#widgetu281.fld-err-st #u283-4,#widgetu277.fld-err-st #u279-4
{
	-pie-box-shadow: none;
	box-shadow: none;
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 32px;
	width: 205px;
	margin: 20px -10000px 0px 0px;
}

#widgetu137.fld-err-st #u138-4 *,#widgetu149.fld-err-st #u152-4 *,#widgetu281.fld-err-st #u283-4 *,#widgetu277.fld-err-st #u279-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu137_input,#widgetu137_prompt,#widgetu149_input,#widgetu149_prompt,#widgetu281_input,#widgetu281_prompt,#widgetu277_input,#widgetu277_prompt
{
	width: 205px;
	min-height: 32px;
	color: #000000;
	font-family: pt-sans, sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px 6px 6px 8px;
}

#widgetu137.focus-st #widgetu137_prompt,#widgetu149.focus-st #widgetu149_prompt,#widgetu281.focus-st #widgetu281_prompt,#widgetu277.focus-st #widgetu277_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu137.focus-st #widgetu137_input,#widgetu137.fld-err-st #widgetu137_input,#widgetu137.fld-err-st #widgetu137_prompt,#widgetu149.focus-st #widgetu149_input,#widgetu149.fld-err-st #widgetu149_input,#widgetu149.fld-err-st #widgetu149_prompt,#widgetu281.focus-st #widgetu281_input,#widgetu281.fld-err-st #widgetu281_input,#widgetu281.fld-err-st #widgetu281_prompt,#widgetu277.focus-st #widgetu277_input,#widgetu277.fld-err-st #widgetu277_input,#widgetu277.fld-err-st #widgetu277_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu137.non-empty-st #widgetu137_prompt,#widgetu149.non-empty-st #widgetu149_prompt,#widgetu281.non-empty-st #widgetu281_prompt,#widgetu277.non-empty-st #widgetu277_prompt
{
	visibility: hidden;
}

#u293-4
{
	z-index: 219;
	width: 132px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	color: #C1272D;
	font-size: 16px;
	text-align: right;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 414px;
	left: 791px;
}

#u676-31
{
	z-index: 503;
	width: 390px;
	min-height: 240px;
	background-color: transparent;
	line-height: 30px;
	font-size: 19px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 573px;
}

#u694
{
	z-index: 508;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u695
{
	z-index: 509;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u696
{
	z-index: 510;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u678
{
	z-index: 516;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u680
{
	z-index: 517;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u679
{
	z-index: 518;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u690
{
	z-index: 524;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u692
{
	z-index: 525;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u691
{
	z-index: 526;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u702
{
	z-index: 532;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u703
{
	z-index: 533;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u704
{
	z-index: 534;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u682
{
	z-index: 540;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u683
{
	z-index: 541;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u684
{
	z-index: 542;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u698
{
	z-index: 548;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u699
{
	z-index: 549;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u700
{
	z-index: 550;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u98,#u102,#u106,#u110,#u114,#u118,#u122,#u693,#u677,#u689,#u701,#u681,#u697,#u685
{
	float: left;
	margin-right: 6px;
}

#u686
{
	z-index: 557;
	width: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u687
{
	z-index: 558;
	width: 20px;
	height: 20px;
	background-color: #22B573;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u688
{
	z-index: 559;
	width: 18px;
	height: 7px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	-ms-transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	transform: matrix(0.6428,-0.766,0.766,0.6428,0,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
	border-width: 0px 0px 3px 2px;
}

#u91-3,#u91-6,#u91-10,#u91-15,#u91-18,#u91-22,#u91-23,#u91-27,#u308-6,#u308-10,#u308-14,#u308-18,#u308-22,#u308-26,#u308-30,#u308-40,#u308-44,#u308-48,#u649,#u653,#u662,#u676-3,#u676-6,#u676-10,#u676-15,#u676-18,#u676-22,#u676-23,#u676-27
{
	font-weight: 700;
}

#pu303
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 42px;
}

#u303
{
	z-index: 238;
	min-height: 76px;
	background-color: #F6F9FC;
	padding-bottom: 10px;
}

#u303_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u304-6
{
	z-index: 239;
	width: 289px;
	min-height: 59px;
	background-color: transparent;
	line-height: 20px;
	font-size: 20px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 100px;
}

#u305-4
{
	z-index: 245;
	width: 239px;
	min-height: 42px;
	background-color: transparent;
	line-height: 32px;
	font-size: 27px;
	text-align: right;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 821px;
}

#u303-bw
{
	z-index: 238;
	min-height: 76px;
}

#u307-6
{
	z-index: 249;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 860px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}
.send-btn {
	color: #fff;
    font-weight: bold;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: #22b573;
}
.send-btn:hover {
    background-color: #2fa571;
}
.send-btn:active {
    background-color: #2b8c61;
}