.overlay {
	background: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	opacity: .5;
}
.visible {
	text-align: center;
	background: #fff;
	position: fixed;
	left: 55%;
	top: 50%;
	margin-top: -200px;
	overflow: hidden;
	z-index: 2000;
	width: 350px;
	padding: 0px;
	margin-left: -250px;
}
#win button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
	border: none;
	background: transparent;
	color: #22B573;
}
#win button[type="button"]:hover {
	cursor: pointer;
	text-decoration: underline;
}
.visible h2 {
	font-weight: bold;
	margin: 10px 15px;
}
#win h3 {
	text-align: center;
	color: #555;
}
.content {
	padding: 0 1em;
}
.modal-inp {
	margin-top: 15px;
	width: 205px;
    min-height: 32px;
    color: #000000;
    font-family: pt-sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 6px 6px 8px;
    border: 1px solid #22B573;
}
.modal-send {
	min-height: 47px;
    width: 220px;
}